<div class="body">
    <h1>O que está buscando Hoje?</h1>
    <br/> 
    <nav class="menu-header">
        <button class="button-menu" pButton routerLink="/produtoslistagem" type="button" label="PRODUTOS"></button>
        <button class="button-menu" pButton routerLink="/pedidos-listagem" type="button" label="PEDIDOS"></button>
        <button class="button-menu" pButton routerLink="/usuario-detalhes" type="button" label="PERFIL"></button>
    </nav>
</div>
    
<div class="footer">
    Contato: (84) 321544565
    Endereço: 
</div>
