body {
    margin: 0!important;
}
.body {
    background-image:url('https://p4.wallpaperbetter.com/wallpaper/261/421/81/technology-electronic-engineering-electronics-green-wallpaper-thumb.jpg');
    opacity:0.9;
    text-align:center;
    padding-top: 2%;
    padding-bottom: 3%;
}
h1 {
    margin: 0;
    padding: 2%;
    font-size: 45px;
    font-family: monospace;
    color:white;
}
label {
    color:white;
    font-size: 25px;
    font-family: monospace;
}
.header {
    background-color: #0FBD90;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    padding: 2%;

}
.menu-header {
    color: white;
    font-size: 10px;
    margin:3%;
    display: inline-flex;


}
.title {
    padding: 0;
    margin: 0;
    display: inline-flex;
}
.button-menu {
    font-size: 19px;
    padding: 5%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color:#0FBD90;
    color: black;
}
.footer {
    background-color:#0FBD90;
    color: black;
    padding: 4%;
}
