<div class="body">
    <h1>O QUE DESEJA FAZER?</h1>
    <label> Aqui você pode visualizar produtos, realizar pedidos e manter seu perfil atualizado </label>
      <br/>
    <nav class="menu-header" style="margin-left:-10%;">
        <button class="button-menu" pButton routerLink="/produtoslistagem" type="button" label="PRODUTOS"></button>
        <button class="button-menu" pButton routerLink="/pedidos-listagem" type="button" label="PEDIDOS"></button>
        <button class="button-menu" pButton routerLink="/usuario-detalhes" type="button" label="PERFIL"></button>
    </nav>
</div>
    
<div class="footer">
  <div class="footer-t">
   <h3> Redes Sociais:</h3>
      @portal_eletronicos
      <br/>
      Portal_eletronicos
    </div>
    <div class="footer-t1">
    <h3> Contato: </h3>
        0800 0001 2000
      <br/>
      (84) 3254 4565
    </div>
    <div class="footer-t">
    <h3>  Endereço: </h3>
      Rua Triunfo, 00
      <br/>
      59000-000, Natal RN
    </div>
</div>
