<div class="body">
     <form [formGroup]="crudForm"> 
        <h1> Detalhes do Pedido</h1>
            <br/>
        <label> Voltar para a Listagem</label>
        <button class="button-cad" pButton routerLink="/pedidos-listagem" type="button" label="Pedidos"></button>
            <br/>
        <label>ID do Pedido: </label>
        <label>{{ id }}</label>
           <br/>
        <label>Produto: </label>
        <input type="text" pInputText formControlName="produto"/>
            <br/>
      
        <label>Quantidade:</label>
        <input type="text" formControlName="quantidade"/>
  
            <button class="button-log" pRipple type="button" label="Editar"></button>
            <button class="button-log" type="button" label="Deletar" class="p-button-danger" style="margin-left: 5px;"></button>
            <button class="button-log" routerLink="/produtoslistagem" style="margin-left:5px;" type="button" label="Cancelar" class="p-button-secondary"></button>

    </form>
</div>
<div class="footer">
    <div class="footer-t">
     <h3> Redes Sociais:</h3>
        @portal_eletronicos
        <br/>
        Portal_eletronicos
    </div>
    <div class="footer-t1">
      <h3> Contato: </h3>
          0800 0001 2000
        <br/>
        (84) 3254 4565
    </div>
    <div class="footer-t">
      <h3>  Endereço: </h3>
        Rua Triunfo, 00
        <br/>
        59000-000, Natal RN
    </div>
</div>
