<div class="body">
    <form [formGroup]="crudForm">
        <h1> Faça seu Cadastro</h1>
            <br/>
            <label> Já possui cadastro?</label>
            <button class="button-cad" pButton routerLink="/login" type="button" label="Login"></button>
            <br/>
            <!-- <div class="dadosUser" style="display: inline-block;"> -->
                <label>Nome: </label>
                <input type="text" pInputText formControlName="nome"/>
                    <br/>
                <label>CPF: </label>
                <input type="text" formControlName="cpf"/>
                    <br/>
                <label>Email:</label>
                <input type="text" formControlName="email"/>
                    <br/>
                <label>Senha:</label>
                <input type="password" formControlName="senha"/>
                    <br/>
                <label>Data de Nascimento:</label>
                <input type="date" formControlName="data_nascimento"/>
                    <br/>
                <label>Cliente:</label>
                <input type="checkbox" formControlName="cliente"/>
                    <br/>
                <label>Administrador:</label>
                <input type="checkbox" formControlName="administrador"/>
                    <br/>
            <!-- </div> -->
            <!-- <div class="dadosEnd" style="display: inline-block;margin-left:8%;">
                <label>CEP:</label>
                <input type="text" formControlName="cep"/>
                    <br/>
                <label>Logradouro:</label>
                <input type="text" formControlName="logradouro"/>
                    <br/>
                <label>Número:</label>
                <input type="text" formControlName="numero"/>
                    <br/>
                <label>Cidade:</label>
                <input type="text" formControlName="cidade"/>
                    <br/>
                <label>Estado:</label>
                <input type="text" formControlName="estado"/>
            </div> -->
            <div style="text-align:center;padding-top:1%;">
                <button class="button-log" pButton pRipple type="button" label="Cadastrar" (click)="salvar()"></button>
                <button class="button-log" pButton routerLink="/index" type="button" label="Voltar"></button>
            </div>
    </form>
</div>

<div class="footer">
    Contato: (84) 321544565
    Endereço: 
</div>
    