<div class="body">
    <form>
        <h1>Edite seu perfil</h1>
            <br/>
            <br/>
            <label>Nome: </label>
            <input type="text" pInputText formControlName="nome"/>
            <br/>
            <label>CPF: </label>
            <input type="text" formControlName="cpf"/>
            <br/>
            <label>Email:</label>
            <input type="text" formControlName="email"/>
            <br/>
            <label>Senha:</label>
            <input type="password" formControlName="senha"/>
            <br/>
            <label>Data de Nascimento:</label>
            <input type="date" formControlName="data_nascimento"/>

            <div style="text-align:center;padding-top:1%;">
                <button class="button-log" pButton pRipple type="button" label="Salvar"></button>
                <button class="button-log" pButton pRipple type="button" label="Apagar"></button>
                <button class="button-log" pButton routerLink="/index" type="button" label="Voltar"></button>
            </div>
    </form>
</div>

<div class="footer">
    Contato: (84) 321544565
    Endereço: 
</div>
    