<div class="body">
    <form [formGroup]="crudForm">
        <h1> ADICIONAR PRODUTO</h1>
            <br/>
        <label>Nome: </label>
        <input type="text" pInputText formControlName="nome" style="width:280px;"/>
            <br/>
        <label> Preco: </label>
        <input type="text" formControlName="preco" style="width:265px;"/>
            <br/>
        <label>Quantidade:</label>
        <input type="text" formControlName="quantidade_estoque" style="width:210px;"/>
                <br/>
        <label>Descricao:</label>
        <input type="text" formControlName="descricao" style="width:220px;"/>
            <br/>
        <label>Categoria:</label>

        <select for="categoria" formControlName="categoria" id="categoria" style="width:240px;">
            <option value="1">Computadores</option>
            <option value="2">Games</option>
            <option value="3">Impressão</option>
            <option value="4">Telefonia e Tablets</option>
            <option value="5">Eletroportáteis</option>
            <option value="6">Câmeras e Vídeos</option>
            <option value="7">Acessórios</option>
            <option value="8">Outros</option>
          </select>

            <br/>
            <label>Foto:</label>
                <input type="file" formControlName="foto" (change)="onFileSelected($event)" style="color: white;"> 
            <br/>
        
        <div style="margin-top:1%;">
            <button class="button-log" pButton pRipple type="button" label="Salvar" (click)="salvar()"></button>
            <button class="button-log" pButton pRipple type="button" routerLink="/produtos-list-admin" style="margin-left:14px;" label="Cancelar"></button>
        </div>
    </form>
</div>
<div class="footer">
    <div class="footer-t">
     <h3> Redes Sociais:</h3>
        @portal_eletronicos
        <br/>
        Portal_eletronicos
    </div>
    <div class="footer-t1">
      <h3> Contato: </h3>
          0800 0001 2000
        <br/>
        (84) 3254 4565
      </div>
    <div class="footer-t">
      <h3>  Endereço: </h3>
        Rua Triunfo, 00
        <br/>
        59000-000, Natal RN
    </div>
</div>