<div class="body">
    <h1>O que deseja Gerenciar?</h1>
    <br/> 
    <nav class="menu-header">
        <button class="button-menu" pButton routerLink="/produtos-detalhes" type="button" label="EDITAR PRODUTOS"></button>
        <button class="button-menu" pButton routerLink="/perfil" type="button" label="EDITAR USUÁRIOS"></button>
        <button class="button-menu" pButton routerLink="/pedidos" type="button" label="EDITAR PEDIDOS"></button>
    </nav>
</div>
    
<div class="footer">
    Contato: (84) 321544565
    Endereço: 
</div>

