<div class="body">
    <h1>O que deseja Gerenciar?</h1>
    <br/> 
    <nav class="menu-header">
        <button class="button-menu" pButton routerLink="/produtos-list-admin" type="button" label="PRODUTOS"></button>
        <button class="button-menu" pButton routerLink="/usuarios-listagem" type="button" label="USUÁRIOS"></button>
        <button class="button-menu" pButton routerLink="/pedidos-listagem" type="button" label="PEDIDOS"></button>
    </nav>
</div>
 
<div class="footer">
  <div class="footer-t">
   <h3> Redes Sociais:</h3>
      @portal_eletronicos
      <br/>
      Portal_eletronicos
    </div>
    <div class="footer-t1">
    <h3> Contato: </h3>
        0800 0001 2000
      <br/>
      (84) 3254 4565
    </div>
    <div class="footer-t">
    <h3>  Endereço: </h3>
      Rua Triunfo, 00
      <br/>
      59000-000, Natal RN
    </div>
</div>
