<div class="body">
    <h1> Bem-vindo ao Portal dos Eletrônicos</h1>
    <label> Dispomos de diversos produtos eletrônicos para seu estudo, trabalho, para facilitar o dia-a-dia
        <br/> Computadores, Tablets, Smartphones, acessórios
    </label>
    <br/> 
  <nav class="menu-header">
    <button class="button-menu" pButton routerLink="/produtoslistagem" type="button" label="PRODUTOS"></button>
    <button class="button-menu" pButton routerLink="/login" type="button" label="FAZER LOGIN"></button>
    <button class="button-menu" pButton routerLink="/login" type="button" label="ADMINISTRAR"></button>
  </nav>
</div>

<div class="footer">
  Contato: (84) 321544565
  Endereço: 
</div>