<div class="body">
    <h1> Bem-vindo ao Portal dos Eletrônicos</h1>
    <label> Dispomos de diversos produtos para o seu dia a dia, no estudo, trabalho, casa, diversão
        <br/> Como Computadores, Smartphones, Acessórios, Câmeras, Impressoras, Eletroportáteis
    </label>
    <br/> 
  <div class="menu-header">
    <button class="button-menu" pButton routerLink="/produtoslistagem" type="button" label="PRODUTOS"></button>
    <button class="button-menu" pButton routerLink="/login" type="button" label="FAZER LOGIN"></button>
    <button class="button-menu" pButton routerLink="/login" type="button" label="ADMINISTRAR"></button>
  </div>
</div>

<div class="footer">
  <div class="footer-t">
   <h3> Redes Sociais:</h3>
      @portal_eletronicos
      <br/>
      Portal_eletronicos
    </div>
    <div class="footer-t1">
    <h3> Contato: </h3>
        0800 0001 2000
      <br/>
      (84) 3254 4565
    </div>
    <div class="footer-t">
    <h3>  Endereço: </h3>
      Rua Triunfo, 00
      <br/>
      59000-000, Natal RN
    </div>
</div>