
<div class="header">
    <h1 class="title">Portal dos Eletrônicos</h1>
    
    
    <nav class="menu-header">
      <button class="button-menu" pButton routerLink="/produtoslistagem" type="button" label="Produtos"></button>
      <button class="button-menu" pButton routerLink="/produtosdetalhe" type="button" label="Cadastrar Produto"></button>
      <button class="button-menu" pButton routerLink="/login" type="button" label="Fazer login"></button>
    </nav>
    </div>
    
    
    
    <router-outlet></router-outlet>
    
