<div class="body">
    <form >
        <h1> Faça seu Pedido</h1>
            <br/>
            <br/>
                 <label>Produto: </label>
                <input type="text" pInputText formControlName="nome"/>
                    <br/>
                <label>Quantidade: </label>
                <input type="text" formControlName="cpf"/>
                    <br/>
          
            <div style="text-align:center;padding-top:1%;">
                <button class="button-log" pButton pRipple type="button" label="Cadastrar"></button>
                <button class="button-log" pButton routerLink="/index" type="button" label="Voltar"></button>
            </div>
    </form>
</div>

<div class="footer">
    Contato: (84) 321544565
    Endereço: 
</div>
    
