<div class="body">
    <form >
        <h1> Faça seu Pedido</h1>
            <br/>
            <br/>
                 <label>Produto: </label>
                <input type="text" pInputText formControlName="nome"/>
                    <br/>
                <label>Quantidade: </label>
                <input type="text" formControlName="cpf"/>
                    <br/>
          
            <div style="text-align:center;padding-top:1%;">
                <button class="button-log" pButton pRipple type="button" label="Cadastrar"></button>
                <button class="button-log" pButton routerLink="/index" type="button" label="Voltar"></button>
            </div>
    </form>
</div>

<div class="footer">
  <div class="footer-t">
   <h3> Redes Sociais:</h3>
      @portal_eletronicos
      <br/>
      Portal_eletronicos
    </div>
    <div class="footer-t1">
    <h3> Contato: </h3>
        0800 0001 2000
      <br/>
      (84) 3254 4565
    </div>
    <div class="footer-t">
    <h3>  Endereço: </h3>
      Rua Triunfo, 00
      <br/>
      59000-000, Natal RN
    </div>
</div>
    
