<div class="body">
    <form [formGroup]="crudForm">
        <h1> FAÇA SEU PEDIDO</h1>
        <label style="margin-bottom:5%;"> Adicione o produto e quantidade, quantos itens desejar
        <br/> Quando concluir, finalize seu pedido</label>
            <br/>
              <div style="margin:2%;">
                 <label>Produto: </label>
                <input type="text" pInputText formControlName="nome" style="width:280px;"/>
                    <br/>
                <label>Quantidade: </label>
                <input type="text" formControlName="quantidade" style="width:240px;"/>
                    <br/>
              </div>
            <div style="text-align:center;padding-top:1%;">
                <button class="button-log" pButton pRipple type="button" (click)="salvar()" label="Adicionar Item"></button>
                <button class="button-log" pButton pRipple type="button" routerLink="/pedido-finalizado" label="Finalizar Pedido"></button>
                <button class="button-log" pButton routerLink="/menu-cliente" type="button" label="Voltar"></button>
            </div>
    </form>
</div>

<div class="footer">
  <div class="footer-t">
   <h3> Redes Sociais:</h3>
      @portal_eletronicos
      <br/>
      Portal_eletronicos
    </div>
    <div class="footer-t1">
    <h3> Contato: </h3>
        0800 0001 2000
      <br/>
      (84) 3254 4565
    </div>
    <div class="footer-t">
    <h3>  Endereço: </h3>
      Rua Triunfo, 00
      <br/>
      59000-000, Natal RN
    </div>
</div>
    
