<div class="body">
    <form [formGroup]="crudForm">
        <h1> Detalhes do Produto</h1>
            <br/>
        <label> Voltar para a Listagem</label>
        <button class="button-cad" pButton routerLink="/produtoslistagem" type="button" label="Produtos"></button>
            <br/>
        <label>ID: </label>
        <label>{{ id }}</label>
           <br/>
        <label>Nome: </label>
        <input type="text" pInputText formControlName="nome"/>
            <br/>
        <label> Preco: </label>
        <input type="text" formControlName="preco"/>
            <br/>
        <label>Quantidade:</label>
        <input type="text" formControlName="quantidade_estoque"/>
                <br/>
        <label>Descricao:</label>
        <input type="text" formControlName="descricao"/>
            <br/>
        <label>Categoria:</label>
        <select for="categoria" formControlName="categoria" id="categoria">
            <option value="1">Computadores</option>
            <option value="2">Games</option>
            <option value="3">Impressão</option>
            <option value="4">Telefonia e Tablet</option>
            <option value="5">Eletroportáteis</option>
            <option value="6">Câmeras e Vídeos</option>
            <option value="7">Acessórios</option>
            <option value="8">Outros</option>
          </select>
            <br/>
        <div class="">
            <button class="button-log" pButton pRipple type="button" label="Salvar" (click)="salvar()"></button>
            <button class="button-log" pButton pRipple type="button" routerLink="/produtoslistagem" style="margin-left:5px;" label="Cancelar"></button>
            <button class="button-log" pButton pRipple type="button" label="Apagar" (click)="deletar()" style="margin-left: 5px;"></button>
        </div>
    </form>
</div>
<div class="footer">
    Contato: (84) 321544565
    Endereço: 
</div>