<div class="body">
    <form [formGroup]="crudForm">
        <h1>Produto</h1>
            <br/>
        <label>ID: </label>
        <label>{{ id }}</label>
           <br/>
        <label>Nome: </label>
        <input type="text" pInputText formControlName="nome"/>
            <br/>
        <label> Preco: </label>
        <input type="text" formControlName="preco"/>
            <br/>
        <label>Quantidade:</label>
        <input type="text" formControlName="quantidade_estoque"/>
                <br/>
        <label>Descricao:</label>
        <input type="text" formControlName="descricao"/>
            <br/>
        <label>Categoria:</label>
        <select for="categoria" formControlName="categoria" id="categoria">
            <option value="1">Computadores</option>
            <option value="2">Games</option>
            <option value="3">Impressão</option>
            <option value="4">Telefonia e Tablet</option>
            <option value="5">Eletroportáteis</option>
            <option value="6">Câmeras e Vídeos</option>
            <option value="7">Acessórios</option>
            <option value="8">Outros</option>
          </select>
            <br/>
        <div class="">
            <!--
                         <button class="button-log" pButton pRipple type="button" label="Salvar" (click)="salvar()"></button>

            -->
            <button class="button-log" pButton pRipple type="button" routerLink="/produtoslistagem" style="margin-left:5px;" label="Cancelar"></button>
            <button class="button-log" pButton pRipple type="button" label="Apagar" (click)="deletar()" style="margin-left: 5px;"></button>
        </div>
    </form>
</div>
<div class="footer">
  <div class="footer-t">
   <h3> Redes Sociais:</h3>
      @portal_eletronicos
      <br/>
      Portal_eletronicos
    </div>
    <div class="footer-t1">
    <h3> Contato: </h3>
        0800 0001 2000
      <br/>
      (84) 3254 4565
    </div>
    <div class="footer-t">
    <h3>  Endereço: </h3>
      Rua Triunfo, 00
      <br/>
      59000-000, Natal RN
    </div>
</div>