<div class="body" style="padding-bottom: 15%;">
    <h1>ITENS DO PEDIDO</h1>
    <br/>
    <button class="button-log" pButton pRipple type="button" routerLink="/pedido-cadastro" style="margin-left:30%;" label="Adicionar Item"></button>
    <button class="button-cad" pButton routerLink="/pedidos-listagem" type="button" label="Voltar" style="margin-left: 25%;margin-bottom: 2%;"></button>
    <p-table [value]="itempedido" dataKey="id" selectionMode="single" [(selection)]="selectedObject">
        <ng-template pTemplate="header">
            <tr>
                <th>ID do Item:</th>
                <th>Produto:</th>
                <th>Quantidade:</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-itempedido>
            <tr [pSelectableRow]="itempedido">
                <tr>
                <td>{{itempedido.id}}</td>
                <td>{{itempedido.produto}}</td>
                <td>{{itempedido.quantidade}}</td>
                <button class="button-del" pButton pRipple type="button" routerLink="/deletar" label="DELETAR"></button> 
            </tr>
        </ng-template>
     </p-table> 
</div>

<div class="footer">
  <div class="footer-t">
   <h3> Redes Sociais:</h3>
      @portal_eletronicos
      <br/>
      Portal_eletronicos
    </div>
    <div class="footer-t1">
    <h3> Contato: </h3>
        0800 0001 2000
      <br/>
      (84) 3254 4565
    </div>
    <div class="footer-t">
    <h3>  Endereço: </h3>
      Rua Triunfo, 00
      <br/>
      59000-000, Natal RN
    </div>
</div>
    

